@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    background-color: #ededed;
}

body a {
    color: #000;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 500;
}

body a:hover {
    color: #000;
}

video {
    top: 0;
    left: 0;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.to-top.active {
    opacity: 1;
    pointer-events: auto;
}

.btn-backtotop {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 50px;
    height: 50px;
    background-color: #fed700;
    outline: none;
    border: none;
    border-radius: 50%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    pointer-events: none;
    opacity: 0;
}

.btn-backtotop i {
    font-size: 2rem;
    outline: none;
    -webkit-animation-name: up;
    animation-name: up;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes up {
    form {
        color: #ed3c32;
        margin-bottom: 200px;
    }
    to {
        color: #3c5b9b;
        margin-bottom: 100px;
    }
}

@keyframes up {
    form {
        color: #ed3c32;
        margin-bottom: 200px;
    }
    to {
        color: #3c5b9b;
        margin-bottom: 100px;
    }
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
    outline: none;
}

.wrapper .header {
    background-color: #fff;
}

.wrapper .header .container .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.wrapper .header .container .header__top .header__top-logo img {
    border-radius: 5px;
    width: 100px;
}

.wrapper .header .container .header__top .header__top-searchbox form input {
    padding-left: 0.8rem;
    width: 20rem;
    height: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.353);
}

.wrapper .header .container .header__top .header__top-searchbox form input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.8rem;
}

.wrapper .header .container .header__top .header__top-searchbox form input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.8rem;
}

.wrapper .header .container .header__top .header__top-searchbox form input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.8rem;
}

.wrapper .header .container .header__top .header__top-searchbox form input::placeholder {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.8rem;
}

.wrapper .header .container .header__top .header__top-searchbox form button {
    background-color: #fed700;
    width: 2rem;
    height: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.36);
}

.wrapper .header .container .header__top .header__top-searchbox form button i {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.wrapper .header .container .header__top .header__top-searchbox form button i:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.wrapper .header .container .header__top .header__top--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrapper .header .container .header__top .header__top--item .header__top--icon {
    margin-right: 0.2rem;
}

.wrapper .header .container .header__top .header__top--item .header__top--icon i {
    font-size: 2rem;
    color: #fed700;
}

.wrapper .header .container .header__top .header__top--item .header__top--text {
    font-size: 0.8rem;
}

.wrapper .header .container .header__top .header__top--item .header__top--text a {
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: none;
    margin: 0.2rem 0;
}

.wrapper .header .container .header__top .header__top--item .header__top--text a:hover {
    color: #ed3c32;
}

.wrapper .header .header__navbar {
    background-color: #fed700;
}

.wrapper .header .header__navbar .navbar ul li a {
    color: #000;
    font-weight: 450;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.wrapper .header .header__navbar .navbar ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.wrapper .home .home__categories ul li {
    position: relative;
}

.wrapper .home .home__categories ul li::after {
    content: ">";
    position: absolute;
    top: 0.7rem;
    right: 1rem;
    opacity: 0.8;
    font-size: 0.7rem;
}

.wrapper .home .home__categories ul li a {
    outline: none;
}

.wrapper .home .home__categories ul li a:hover {
    text-decoration: none;
    background-color: #ededed;
}

.wrapper .home .home__brand {
    margin: 1.5rem 0;
}

.wrapper .home .home__brand ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.wrapper .home .home__brand ul li.home__brand--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrapper .home .home__brand ul li.home__brand--item a {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    background-color: #fff;
    padding: 0 4rem;
}

.wrapper .home .home__brand ul li.home__brand--item a img {
    height: 3rem;
}

.wrapper .home .home__products {
    background-color: #e8e8e8;
}

.wrapper .home .home__products .home__product--heading {
    padding: 0.8rem 0.5rem;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 0.5rem;
}

.wrapper .home .home__products .home__product--heading h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.wrapper .home .home__products .home__product--main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
}

.wrapper .home .home__products .home__product--main .home__card {
    padding: 0.5rem 0;
    position: relative;
    border-right: 1px solid #ccc;
}

.wrapper .home .home__products .home__product--main .home__card .card {
    padding-top: 2rem;
    border: none;
}

.wrapper .home .home__products .home__product--main .home__card .card img {
    padding: 0 2rem;
}

.wrapper .home .home__products .home__product--main .home__card .card .home__card--body {
    padding: 0 1rem;
    margin-top: 1.5rem;
}

.wrapper .home .home__products .home__product--main .home__card .card .home__card--body .home__card--title {
    margin-bottom: 0.5rem;
}

.wrapper .home .home__products .home__product--main .home__card .card .home__card--body .home__card--title a {
    font-size: 0.8rem;
    color: #000;
    font-weight: bold;
}

.wrapper .home .home__products .home__product--main .home__card .card .home__card--body .home__card--price .home__card--percent {
    position: absolute;
    top: 0;
    right: 0.5rem;
    padding: 0.5rem 0.3rem;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 70%, 49% 100%, 0 71%);
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 49% 100%, 0 71%);
    background-color: #d70018;
}

.wrapper .home .home__products .home__product--main .home__card .card .home__card--body .home__card--price .home__card--percent span {
    color: #fff;
    font-weight: bold;
    font-size: 0.7rem;
}

.wrapper .home .home__products .home__product--main .home__card .card .home__card--body .home__card--price .home__card--percent::before {
    content: "-";
    color: #fff;
    margin-right: -0.2rem;
}

.wrapper .home .home__products .home__product--main .home__card .card .home__card--body .home__card--price .home__card--percent::after {
    content: "%";
    color: #fff;
    font-size: 0.7rem;
    margin-left: -0.2rem;
}

.wrapper .home .home__products .home__product--main .home__card .card .home__card--body .home__card--price .card-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    align-items: center;
}

.wrapper .home .home__products .home__product--main .home__card .card .home__card--body .home__card--price .card-text span {
    font-size: 1rem;
}

.wrapper .home .home__products .home__product--main .home__card .card .home__card--body .home__card--price .card-text span::after {
    content: "đ";
    font-size: 0.8rem;
    text-decoration: underline;
    margin-left: -0.1rem;
}

.wrapper .home .home__products .home__product--main .home__card .card .home__card--body .home__card--price .card-text .home__price--static {
    color: #d70018;
    margin-right: 0.4rem;
    font-weight: bold;
}

.wrapper .home .home__products .home__product--main .home__card .card .home__card--body .home__card--price .card-text .home__price--sub {
    color: #000;
    font-size: 0.85rem;
    text-decoration: line-through;
}

.wrapper .home .home__products .home__product--main .home__card .card .home__card--body .home__specifications {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.wrapper .home .home__products .home__product--main .home__card .card .home__card--body .home__specifications .home__specifications--ram {
    display: block;
}

.wrapper .home .home__products .home__product--main .home__card .card .home__card--body .home__specifications .home__specifications--storage {
    display: block;
    margin-top: 0.5rem;
}

.wrapper .home .home__products .home__product--main .home__card .card .home__card--body .home__card--star {
    font-size: 0.5rem;
    margin: 1rem 0;
    color: orange;
}

.wrapper .home .home__products .home__product--main .home__card:hover {
    cursor: pointer;
}

.wrapper .home .home__products .home__product--main .home__card:hover a {
    text-decoration: none;
    color: #007bff;
}

.wrapper .home .home__products .home__product--main .home__card:hover img {
    -webkit-transform: translate(0, -10%);
    transform: translate(0, -10%);
    -webkit-transition: all 1s;
    transition: all 1s;
}

.wrapper .products .products__filter {
    padding: 0.3rem 0.5rem;
}

.wrapper .products .products__filter .products__filter--item {
    margin: 1rem 0;
}

.wrapper .products .products__filter .products__filter--item p {
    margin: 0.5rem 0;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.wrapper .products .products__filter .products__filter--item .products__filter--desc {
    font-size: 0.8rem;
}

.wrapper .products .products__filter .products__filter--item .products__filter--range {
    padding: 0 0.5rem;
}

.wrapper .products .products__items .home__card {
    position: relative;
}

.wrapper .products .products__items .home__card:hover {
    cursor: pointer;
}

.wrapper .products .products__items .home__card:hover a {
    text-decoration: none;
    color: #007bff;
}

.wrapper .products .products__items .home__card:hover img {
    -webkit-transform: translate(0, -15%);
    transform: translate(0, -15%);
    -webkit-transition: all 1s;
    transition: all 1s;
}

.wrapper .products .products__items .home__card .card {
    padding-top: 2rem;
    border: none;
}

.wrapper .products .products__items .home__card .card img {
    padding: 0 2rem;
}

.wrapper .products .products__items .home__card .card .card-body {
    padding: 0.5rem;
}

.wrapper .products .products__items .home__card .card .home__card--body .home__card--title span a {
    color: #000;
    font-weight: bold;
}

.wrapper .products .products__items .home__card .card .home__card--price {
    margin: 0.8rem 0;
    font-weight: bold;
}

.wrapper .products .products__items .home__card .card .home__card--price .home__card--percent {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 0.3rem;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 70%, 49% 100%, 0 71%);
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 49% 100%, 0 71%);
    background-color: #d70018;
}

.wrapper .products .products__items .home__card .card .home__card--price .home__card--percent span {
    color: #fff;
    font-weight: bold;
    font-size: 0.7rem;
}

.wrapper .products .products__items .home__card .card .home__card--price .home__card--percent::before {
    content: "-";
    color: #fff;
    margin-right: -0.2rem;
}

.wrapper .products .products__items .home__card .card .home__card--price .home__card--percent::after {
    content: "%";
    color: #fff;
    font-size: 0.7rem;
    margin-left: -0.2rem;
}

.wrapper .products .products__items .home__card .card .home__card--price .card-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    align-items: center;
}

.wrapper .products .products__items .home__card .card .home__card--price .card-text span {
    font-size: 0.85rem;
}

.wrapper .products .products__items .home__card .card .home__card--price .card-text span::after {
    content: "đ";
    font-size: 0.6rem;
    text-decoration: underline;
    margin-left: -0.1rem;
}

.wrapper .products .products__items .home__card .card .home__card--price .card-text .home__price--static {
    color: #d70018;
    margin-right: 0.4rem;
}

.wrapper .products .products__items .home__card .card .home__card--price .card-text .home__price--sub {
    color: #000;
    font-size: 0.7rem;
    text-decoration: line-through;
}

.wrapper .products .products__items .home__card .card .home__specifications {
    font-size: 0.8rem;
}

.wrapper .products .products__items .home__card .card .home__specifications .home__specifications--ram {
    display: block;
}

.wrapper .products .products__items .home__card .card .home__specifications .home__specifications--storage {
    display: block;
    margin-top: 0.5rem;
}

.wrapper .products .products__items .home__card .card .home__card--star {
    font-size: 0.7rem;
    margin: 0.5rem 0;
}

.wrapper .products .products__items .products__filter--orror {
    margin: 8rem 14rem;
}

.wrapper .products .products__items .products__filter--orror::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background: #fed700;
    margin-top: 5px;
    background: repeating-linear-gradient(to right, red 0, #00f 50%, red 100%);
    background-size: 200% auto;
    background-position: 0 100%;
    -webkit-animation: gradient 2s infinite;
    animation: gradient 2s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.wrapper .log-in {
    margin: 0 150px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 1px 5px #f4f4f4;
    box-shadow: 1px 1px 1px 5px #f4f4f4;
    border-radius: 20px;
    padding: 10px;
}

.wrapper .log-in .col-6 img {
    border-radius: 24px;
}

.wrapper .log-in form h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
}

.wrapper .log-in form input {
    width: 500px;
    height: 50px;
    border: 1px solid #e1e1e1;
}

.wrapper .log-in form input::-webkit-input-placeholder {
    color: brown;
}

.wrapper .log-in form input:-ms-input-placeholder {
    color: brown;
}

.wrapper .log-in form input::-ms-input-placeholder {
    color: brown;
}

.wrapper .log-in form input::placeholder {
    color: brown;
}

.wrapper .log-in form .input-password {
    width: 450px;
}

.wrapper .log-in form .password {
    width: 450px;
    border: 1px solid #e1e1e1;
    border-right: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wrapper .log-in form .show-password {
    border-left: none;
    margin-left: -10px;
    height: 50px;
    width: 60px;
    border: none;
    border: 0.4px solid #e1e1e1;
    border-left: none;
    padding-top: -10px;
}

.wrapper .log-in form .pass-hidden {
    border: 1px solid #333;
    border-left: none;
    margin-left: -10px;
}

.wrapper .log-in form .not-have-account .sign-now {
    color: #ed3c32;
}

.wrapper .log-in form .login__line {
    height: 1px;
    background: #b7b7b7;
}

.wrapper .sign-up input {
    width: 100%;
}

.wrapper video {
    top: 0;
    left: 0;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.wrapper .footer {
    background-color: #f7f7f7;
}

.wrapper .footer .footer__icon {
    background-color: #fff;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
}

.wrapper .footer .footer__icon .footer__icon-items .col-lg-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #e1e1e1;
}

.wrapper .footer .footer__icon .footer__icon-items .col-lg-3:nth-child(4) {
    border: none;
}

.wrapper .footer .footer__icon .footer__icon-items img {
    width: 100px;
    margin: 20px auto;
}

.wrapper .footer .footer__icon .footer__icon-items .footer__icon-content {
    text-align: center;
}

.wrapper .footer .footer__detail .logo-footer {
    width: 180px;
    height: 150px;
}

.wrapper .footer .footer__contact .follow-us .icon {
    margin: 20px auto;
}

.wrapper .footer .footer__contact .follow-us .icon i {
    margin-left: 20px;
    font-size: 40px;
    left: 0;
}

.wrapper .footer .footer__contact .follow-us .icon i:nth-child(1):hover {
    color: #40c1df;
}

.wrapper .footer .footer__contact .follow-us .icon i:nth-child(2):hover {
    color: #3c5b9b;
}

.wrapper .footer .footer__contact .follow-us .icon i:nth-child(3):hover {
    color: #ed3c32;
}

.wrapper .footer .footer__contact .follow-us .icon i:nth-child(4):hover {
    color: #ed3c32;
}

.wrapper .footer .footer__contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrapper .footer .footer__contact form input {
    height: 40px;
    border: 1px solid #e1e1e1;
    margin-top: 10px;
}

.wrapper .footer .footer__contact form button {
    background-color: #fed700;
    height: 40px;
    border: 1px solid #000;
}

.wrapper .footer .footer__contact form button span {
    font-size: 0.8rem;
    padding: 15px;
}

.wrapper .footer .footer__pay img {
    width: 150px;
    height: 80px;
}

.wrapper .link {
    padding: 0.5rem 0;
}

.wrapper .link .link__main {
    padding: 0.5rem;
    background-color: rgba(213, 213, 213, 0.864);
    margin-bottom: 0.35rem;
}

.wrapper .link .link__main span {
    font-size: 0.5rem;
    color: #767676;
}

.wrapper .link .link__main span a {
    color: #e11b1e;
    text-transform: none;
}

.wrapper .link .link__main span::after {
    content: ">";
    margin: 0 0.3rem 0 0.5rem;
    font-size: 0.7rem;
}

.wrapper .link .link__main span:last-child::after {
    content: "";
}

.wrapper .link .link__main span:last-child {
    font-size: 0.6rem;
}

.wrapper .product-detail {
    font-size: 0.7rem;
}

.wrapper .product-detail .product-detail__title {
    border-bottom: 1px solid #cccccc;
}

.wrapper .product-detail .product-detail__title h2 {
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.wrapper .product-detail .product-detail__title span {
    background-color: #fed700;
    color: #ffffff;
    display: inline-block;
    border-radius: 5px;
    padding: 0.2rem;
    margin-left: 1rem;
}

.wrapper .product-detail__main {
    margin-top: 1rem;
    border-bottom: 1px solid #cccccc;
}

.wrapper .product-detail__main .product-detail__left .product-detail__image {
    padding: 2rem;
    background-color: #f5f5f5;
}

.wrapper .product-detail__main .product-detail__left .product-detail__slide {
    margin-top: 0.8rem;
    height: 80px;
    width: 100%;
}

.wrapper .product-detail__main .product-detail__left .product-detail__slide .product-detail__slide--item {
    padding: 0.3rem;
}

.wrapper .product-detail__main .product-detail__left .product-detail__slide .product-detail__slide--item img {
    padding: 0.3rem;
    border: 1px solid #cccccc;
}

.wrapper .product-detail__main .product-detail__right .product-detail__price {
    margin-top: 1rem;
    padding: 0 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrapper .product-detail__main .product-detail__right .product-detail__price span::after {
    content: "đ";
    text-decoration: underline;
    font-size: 0.7rem;
}

.wrapper .product-detail__main .product-detail__right .product-detail__price .product-detail__price--red {
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: -0.4rem;
}

.wrapper .product-detail__main .product-detail__right .product-detail__price .product-detail__price--through {
    font-size: 1rem;
    text-decoration: line-through;
}

.wrapper .product-detail__main .product-detail__right .product-detail__price .product-detail__price--persent {
    font-size: 0.8rem;
    color: #d62b2b;
}

.wrapper .product-detail__main .product-detail__right .product-detail__version {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
}

.wrapper .product-detail__main .product-detail__right .product-detail__version .product-detail__version--item {
    margin-right: 0.5rem;
    border: 1px solid #9d0808;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
}

.wrapper .product-detail__main .product-detail__right .product-detail__version .product-detail__version--item .product-detail__version--price {
    color: red;
    font-size: 0.8rem;
}

.wrapper .product-detail__main .product-detail__right .product-detail__btn,
.wrapper .product-detail__main .product-detail__right .product-detail__btn--green {
    border: none;
    border-radius: 2px;
    margin-top: 0.8rem;
    text-align: center;
    padding: 0.5rem;
}

.wrapper .product-detail__main .product-detail__right .product-detail__btn a,
.wrapper .product-detail__main .product-detail__right .product-detail__btn--green a {
    color: white;
}

.wrapper .product-detail__main .product-detail__right .product-detail__btn a span,
.wrapper .product-detail__main .product-detail__right .product-detail__btn--green a span {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.2rem;
}

.wrapper .product-detail__main .product-detail__right .product-detail__btn a p,
.wrapper .product-detail__main .product-detail__right .product-detail__btn--green a p {
    margin: 0.2rem 0;
}

.wrapper .product-detail__main .product-detail__right .product-detail__btn a:hover,
.wrapper .product-detail__main .product-detail__right .product-detail__btn--green a:hover {
    text-decoration: none;
}

.wrapper .product-detail__main .product-detail__right .product-detail__btn--orange {
    background-color: #ff6600;
}

.wrapper .product-detail__main .product-detail__right .product-detail__btn--blue {
    background-color: #0275d8;
}

.wrapper .product-detail__main .product-detail__right .product-detail__btn--green {
    background-color: #23c017;
    padding: 0.5rem;
    margin-top: 2rem;
}

.wrapper .product-detail__main .product-detail__right .product-detail__btn--green a span {
    font-weight: 400;
}

.wrapper .product-detail__main .product-detail__policy ul {
    border: 1px solid #e1e1e1;
    padding: 0.5rem 1.2rem;
}

.wrapper .product-detail__main .product-detail__policy ul li {
    margin-top: 0.5rem;
    list-style: circle;
}

.wrapper .product-detail__main .product-detail__accessories .product-detail__btn,
.wrapper .product-detail__main .product-detail__accessories .product-detail__right .product-detail__btn--green,
.wrapper .product-detail__main .product-detail__right .product-detail__accessories .product-detail__btn--green {
    padding: 0.5rem;
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.wrapper .product-detail__main .product-detail__accessories ul {
    border: 1px solid #cccccc;
}

.wrapper .product-detail__main .product-detail__accessories li {
    border-bottom: 1px solid #cccccc;
    padding-left: 1rem;
    margin: 0.7rem 0;
    padding-bottom: 0.5rem;
}

.wrapper .product-detail__main .product-detail__accessories li:last-child {
    border: none;
    padding-bottom: 0;
}

.wrapper .product-detail__main .product-detail__accessories li span {
    display: block;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0.2rem 0;
}

.wrapper .product-detail__desc {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.wrapper .product-detail__desc .product-detail__desc--content {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.wrapper .product-detail .product-detail__suggest {
    background-color: #ffffff;
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--heading {
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--heading span {
    font-size: 1rem;
    font-weight: bold;
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--card {
    border-right: 1px solid #ccc;
    padding: 1rem 0;
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--card .product-detail__suggest--iamge img {
    padding: 0 1rem;
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--card .product-detail__suggest--text {
    padding: 0 1rem;
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--card .product-detail__suggest--text .product-detail__suggest--title {
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--card .product-detail__suggest--text .product-detail__suggest--title span {
    font-size: 0.8rem;
    font-weight: bold;
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--card .product-detail__suggest--text .product-detail__suggest--price .product-detail__suggest--price-static {
    display: block;
    font-weight: bold;
    color: #d70018;
    margin-bottom: 0.3rem;
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--card .product-detail__suggest--text .product-detail__suggest--price .product-detail__suggest--price-static::after {
    content: "đ";
    font-size: 0.5rem;
    text-decoration: underline;
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--card .product-detail__suggest--text .product-detail__suggest--price .product-detail__suggest--price-sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 1.5rem;
    margin-bottom: 0.3rem;
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--card .product-detail__suggest--text .product-detail__suggest--price .product-detail__suggest--price-sub span {
    font-weight: 500;
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--card .product-detail__suggest--text .product-detail__suggest--price .product-detail__suggest--price-sub span:first-child {
    text-decoration: line-through;
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--card .product-detail__suggest--text .product-detail__suggest--price .product-detail__suggest--price-sub span:first-child::after {
    content: "đ";
    font-size: 0.5rem;
    font-weight: 500;
    text-decoration: underline;
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--card .product-detail__suggest--text .product-detail__suggest--price .product-detail__suggest--price-sub span:last-child {
    color: #b3170f;
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--card .product-detail__suggest--text .product-detail__suggest--price .product-detail__suggest--price-sub span:last-child::after {
    content: "%";
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--card .product-detail__suggest--text .product-detail__suggest--specifications span:first-child {
    margin-bottom: 0.3rem;
    display: block;
}

.wrapper .product-detail .product-detail__suggest .product-detail__suggest--card .product-detail__suggest--text .product-detail__suggest--star {
    font-size: 0.5rem;
    color: #fed700;
    margin-top: 0.5rem;
}

.wrapper .product-detail .product-detail__comment .product-detail__comment--heading {
    margin-bottom: 1rem;
}

.wrapper .product-detail .product-detail__comment .product-detail__comment--heading span {
    font-size: 1rem;
    font-weight: bold;
}

.wrapper .product-detail .product-detail__comment .product-detail__comment--error {
    font-size: 0.9rem;
}

.wrapper .product-detail .product-detail__comment .product-detail__comment--box {
    border-top: 1px solid #ccc;
    margin-top: 1rem;
}

.wrapper .product-detail .product-detail__comment .product-detail__comment--box .product-detail__comment--user {
    margin-top: 1rem;
    font-size: 0.7rem;
    font-weight: bold;
}

.wrapper .product-detail .product-detail__comment .product-detail__comment--box .product-detail__comment--content {
    font-size: 0.8rem;
    margin-top: 1rem;
    line-height: 23px;
}

.wrapper .product-detail .product-detail__comment .product-detail__comment--box .product-detail__comment--date {
    margin-top: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.7rem;
}

.wrapper .cart {
    margin-bottom: 2rem;
}

.wrapper .cart .cart__main .cart__main--left {
    border: 1px solid #ccc;
}

.wrapper .cart .cart__main .cart__main--left .cart__header {
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #767676;
}

.wrapper .cart .cart__main .cart__main--left .cart__header span {
    font-size: 1rem;
    font-weight: bold;
}

.wrapper .cart .cart__main .cart__main--left .cart__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
}

.wrapper .cart .cart__main .cart__main--left .cart__content .cart__image img {
    width: 3rem;
    height: auto;
}

.wrapper .cart .cart__main .cart__main--left .cart__content .cart__text .cart__title {
    font-weight: bold;
    font-weight: 1rem;
}

.wrapper .cart .cart__main .cart__main--left .cart__content .cart__text .cart__price {
    font-size: 0.9rem;
}

.wrapper .cart .cart__main .cart__main--left .cart__content .cart__text .cart__price span:first-child {
    display: block;
    color: red;
    font-weight: 500;
}

.wrapper .cart .cart__main .cart__main--left .cart__content .cart__text .cart__price span:last-child {
    text-decoration: line-through;
    font-size: 0.8rem;
}

.wrapper .cart .cart__main .cart__main--left .cart__content .cart__quantity input {
    width: 5rem;
    padding-left: 1rem;
}

.wrapper .cart .cart__main .cart__main--left .cart__content .cart__sum span {
    font-size: 0.9rem;
}

.wrapper .cart .cart__main .cart__main--left .cart__content .cart__sum span:first-child {
    display: block;
    font-weight: bold;
}

.wrapper .cart .cart__main .cart__main--right {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
}

.wrapper .cart .cart__main .cart__main--right .cart__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: 500;
}

.wrapper .cart .cart__main .cart__main--right .cart__shipping {
    border-bottom: 1px solid #767676;
    margin: 1.3rem 0;
    padding-bottom: 0.5rem;
}

.wrapper .cart .cart__main .cart__main--right .cart__checkout {
    border-top: 1px solid #767676;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.wrapper .cart .cart__main .cart__main--right .cart__checkout a {
    margin: 0.5rem 0;
    background-color: #000;
    color: white;
    padding: 0.5rem 1rem;
}


/*# sourceMappingURL=style.css.map */